* {
  font-family: "Raleway", sans-serif;
}
html {
  height: 100%;
}
body {
  background-color: rgb(60, 60, 60);
  width: 100%;
}
/* !!!!! NAVBAR/HEADER ON ALL HTML FILES !!!!! */
.logo {
  z-index: 99;
  min-width: 100px;
  min-height: 100px;
}
nav {
  background-color: rgb(20, 20, 20);
  display: flex;
  width: 100%;
}
.navbar-nav {
  margin-right: 20px;
}
#navbarNavDropdown {
    margin-left: auto;
    flex-direction: row-reverse}
.nav-link {
    color: white;
}
.dropdown-menu {
    background-color: rgb(20, 20, 20);
} 
.dropdown-item {
    color: white;
}
nav li {
  display: inline;
  font-size: 18px;
  margin: 20px;
}
nav li a {
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(61, 174, 72);
  text-decoration: underline;
}
.navbar-toggler-icon {
    width: 1em;
    height: 1.5em;
}
/* !!!!! FOOTER ON ALL HTML FILES !!!!! */
footer {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  background-color: rgb(20, 20, 20);
}
footer div {
  margin: auto;
  display: flex;
}
.midfoot {
  flex-direction: column;
}
footer h2,
footer p {
  color: white;
  margin: 10px auto;
  font-size: 1rem;
}
footer p a {
  font-size: 10px;
  color: white;
  text-decoration: none;
}
footer h2 {
  margin-top: 30px;
}
.sociallogo {
  margin-right: 30px;
}
/* !!!!! SEARCH SECTION !!!!! */

div.searchdiv {
  color: white;
  text-align: center;
  margin: 100px auto 100px;
}
#search {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 30px;
  width: 400px;
}
#btnS {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  background-color: rgb(22, 58, 96);
  color: white;
  font-weight: 400;
}
h4 {
  margin-bottom: 40px;
}
ul.favs {
  padding: 0;
}
ul.favs li {
  display: inline;
  margin: 40px;
}

/* !!!!! OUTPUT SECTION !!!!! */

.out {
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 400px;
  align-items: center;
}
.out img {
  display: flex;
  max-width: 220px;
  height: fit-content;
  margin: 14px;
}
#tempImg {
  width: 80%;
  max-width: 400px;
}
#poweredBy {
  text-align: center;
  color: black;
  margin-top: 10px;
  font-size: 1.1rem;
}

/* !!!!! MEDIA SCREEN SIZING SECTION !!!!! */
/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1024px) {
  #search {
    width: 300px;
  }
  .out {
    min-height: 800px;
  }
  .midfoot {
    max-width: 20%;
  }
  footer h2,
  footer p {
  font-size: .7rem;
  }
  footer p a {
  font-size: 8px;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 767px) {
  ul.topnav li {
    display: none;
  }
  ul.topnav li.trigram {
    display: flex;
    float: right;
    margin: 40px;
    position: fixed;
    top: 0;
    right: 0;
  }
  ul.topnav.responsive {
    position: relative;
    background: rgb(40, 40, 40);
    width: 180px;
    margin-top: 66px;
  }
  ul.topnav.responsive li {
    display: inline-flex;
    text-align: right;
  }
  ul.topnav.responsive li a {
    display: flex;
    text-align: right;
  }
  #search {
    width: 36%;
  }
  ul.favs li {
    display: block;
    margin: 20px;
  }
  .out img {
    display: flex;
    margin: 14px;
    max-width: none;
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .leftfoot {
    display: none;
  }
  .rightfoot {
    margin: 10px auto;
  }
  .rightfoot,
  .midfoot {
    width: 100%;
    min-width: 200px;
    display: flex;
    margin: auto;
  }
  .sociallogo {
    margin: auto;
  }
  .right {
    width: 86%;
    margin: auto;
    padding-top: 30px;
  }
  .col-1 {
    width: 100%;
  }
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  header {
    height: 113px;
    width: 100%;
  }
  .title img {
    width: 196px;
    margin-top: 6px;
  }
  form.searchbar {
    margin-bottom: 20px;
  }
  #search {
    width: 50%;
  }
  #btnS {
    display: block;
    margin: auto;
  }
}
