* {
    font-family: 'Raleway', sans-serif;
}
  
body {
    background-color: rgb(60, 60, 60);
}
  
/* !!!!! NAVBAR/HEADER !!!!! */
  
header {
    background-color: rgb(40, 40, 40);
    display: flex;
    color: white;
    padding: 10px;
}
  
.title a {
    text-decoration: none;
    color: black;
}
  
nav {
    margin: 30px 20px 0;
}
  
nav li {
    display: inline;
    font-size: 18px;
    margin: 30px;
}
  
nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    color: rgb(100, 127, 144);
}

/* !!!!! SEARCH SECTION !!!!! */

div.searchdiv {
    color: white;
    text-align: center;
    margin: 20px auto;
}

#search {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin:30px;
    width: 20%;
}

#btnS {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 4px 8px;
    background-color: rgb(22, 58, 96);
    color: white;
    font-weight:400;
}

#btnS:hover {
    opacity:0.78;
  
	-webkit-transition:opacity 200ms ease;
	transition:opacity 200ms ease;
}